.noty_topic {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}
.noty_time {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  font-style: italic;
}
